wheel
setuptools
ffmpeg
numba
numpy
scipy
librosa
fairseq
faiss-cpu
gradio
pyworld
soundfile
praat-parselmouth
httpx
tensorboard
tensorboardX
torchcrepe
onnxruntime
demucs
edge-tts
yt_dlp
pytube
av
PyYAML
omegaconf
